.report-header {
    background-color: #cc0000;
    height: 48px;
}
.report-title-header {
    display: table;
    height: 100%;
    margin-left: 16px;
    color: #ffffff;

}

.report-title {
    display: table-cell;
    vertical-align: middle;
}

body {
    margin: 0px;
}